.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: var(--p-white);
  width: 100%;
  height: 100%;
  border-bottom: var(--p-solid-boder);
  
}
.friendInfor {
  padding: 10px;
  display: flex;
  height: 100%;
  align-items: center;
  flex: 1;
  gap: 8px;
}
.friendInfor img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.friendInfor .infor {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.friendInfor .infor .name {
  font-size: var(--p-font-size);
  font-weight: 600;
}
.friendInfor .infor .online {
  font-size: 12px;
  color: rgb(35, 183, 32);
}
.friendInfor .infor .offline {
  font-size: 12px;
  color: rgb(110, 110, 110);
}
.action {
  flex: 1;
}
