.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: var(--p-50);
}
.chatheader {
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 68px;
}
.messageList {
  width: 100%;
  flex: 1;
  overflow-y: auto;
}
.messageInput {
  width: 100%;
  height: 90px;
}
::-webkit-scrollbar {
  width: 8px;        /* chiều rộng */
  height: 8px;       /* cho scroll ngang */
}
::-webkit-scrollbar-track {
  background-color: var(--p-50);
  border-radius: 10px;
}
/* Thumb (thanh kéo) */
::-webkit-scrollbar-thumb {
  background: #e7e3e3;
  border-radius: 10px;
}
/* Hover */
::-webkit-scrollbar-thumb:hover {
  background: #dedede;
}