.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 10px;
    transition: all 0.2s ease;
    
}
.wrapper svg {
  font-size: 25px;
  color: var(--p-white);
}
.wrapper:focus,
.wrapper:hover{
    background-color: rgba(60, 60, 60, 0.2);
    border-radius: 8px;
}