.wrapper {
  width: 100%;
  height: 100%;
}
.header {
  color: rgb(84, 84, 84);
  font-size: var(--p-font-size);
  font-weight: 500;
  margin-bottom: 10px;
}
.content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.item {
  display: flex;
  flex-direction: column;

  background-color: var(--p-white);
  padding: 10px;
  border-radius: 3px;
  gap: 10px;
}
.itemHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}
.infor {
  flex: 1;
  padding: 10px;
}
.infor .name {
  color: black;
  font-size: var(--p-font-size);
  font-weight: 500;
}
.infor .time {
  color: rgb(71, 71, 71);
  font-size: 12px;
}
.itemHeader .message {
  outline: none;
  border: none;
  background-color: var(--p-white);
  transition: all 0.3s ease;
}
.itemHeader .message:hover {
  padding: 10px;
  background-color: var(--p-hover);
  border-radius: 50%;
}

.itemAction {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.itemAction button {
  flex: 1;
  padding: 10px 10px;
  outline: none;
  border: none;
  font-size: var(--p-font-size);
  font-weight: 500;
  background-color: rgb(231, 231, 231);
  transition: all 0.3s ease;
}
.itemAction button:hover {
  background-color: var(--p-hover);
}
