.wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
}
.content {
  display: flex;
  flex-direction: column;
  background-color: var(--p-white);
  margin: 10px 10px 0px 10px;
  flex: 1;
  border-radius: 5px;
  gap:5px;
  padding: 15px;
}
