.wrapper {
  display: flex;

  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 10px;
  gap: 10px;
  overflow-y: auto;
}
.receiver,
.sender {
  display: flex;
  align-items: center;
  width: 100%;
  height: auto;
  gap: 10px;
}
.avatar {
  width: 40px;
  height: 40px;
}
.avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.messageContent {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 5px;
  gap: 4px;
  box-shadow: 2px 2px 2px -1px rgb(191, 191, 191);
}

.name {
  font-size: 12px;
  color: rgb(126, 126, 126);
}
.content {
  font-size: var(--p-font-size);
}
.time {
  color: rgb(126, 126, 126);
  font-size: 11px;
  font-weight: 200;
}
/* người gửi */
.sender {
  flex-direction: row-reverse;
}
.sender .messageContent {
  background-color: var(--p-700);
  color: var(--p-white);
}
.sender .messageContent .time {
  color: var(--p-white);
}
/* người nhận */
.receiver .messageContent {
  background-color: var(--p-white);
  color: black;
}
