.wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 10px;
  transition: all 0.3s ease;
  justify-content: space-between;
  border-radius: 5px;
}
.wrapper:hover{
    background-color: var(--p-hover);
}
.friendInfor {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}
.infor {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.infor .phone{
font-size: 13px;
color: rgb(93, 93, 93);
}
.icon{
    font-size: 13px;
}