.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1000;
}
.userInfor {
  width: 400px;
  min-height: 500px;
  background-color: var(--p-white);
  border-radius: 3px;
}
.header {
  border-radius: 3px;
  width: 100%;
  padding: 5px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: var(--p-solid-boder);
}
.header p {
  padding: 10px 0px;
  color: black;
  font-size: 16px;
  font-weight: 600;
}
.header button {
  border: none;
  outline: none;
  background-color: var(--p-white);
  font-size: 16px;
  color: rgb(0, 0, 0);
  transition: all 0.3s ease;
}
.header button:hover {
  padding: 10px;
  border-radius: 50%;
  background-color: #f0f0f0;
}
/* avatar  vaf fullname*/
.avatarAndFullName {
  display: flex;
  align-items: center;
  background-image: linear-gradient(-20deg, #008689 0%, #8bfff8 100%);
  gap: 12px;
  margin: 10px;
  padding: 50px 15px 15px 15px;
  border-radius: 8px;
}
.avatar {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.avatar img {
  border: 3px solid white;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.avatarAndFullName .fullName .name {
  color: var(--p-white);
  font-size: var(--h4-font-size);
}
.avatarAndFullName .fullName .title {
  word-wrap: break-word;
  overflow-wrap: break-word;
  max-width: 250px;
  font-size: 12px;
}
/* action */
.action {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 0px 10px;
}
.action button {
  padding: 10px 0;
  flex: 1;
  outline: none;
  border: none;
  color: black;
  font-size: 14px;
  font-weight: 500;
  background-color: rgb(232, 232, 232);
  transition: all 0.3s ease;
  border-radius: 3px;
}
.action button:hover {
  background-color: var(--p-hover);
}
.action .message {
  background-color: var(--p-50);
}
.action .message:hover {
  background-color: var(--p-100);
}
/* thông tin người dùng */
.information {
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.information .headerInfor {
  width: 100%;
  color: black;
  font-size: 16px;
  font-weight: 600;
}
.information .email,
.information .phone {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 100%;
  font-size: 14px;
  color: rgb(42, 42, 42);
}
.information .email p,
.information .phone p {
  width: 40%;
  color: rgb(99, 99, 99);
}
