.wrapper {
  width: 100%;
  border-radius: 3px;
}
.header {
  padding: 10px;
  width: 100%;
  border-bottom: var(--p-solid-boder);
  font-weight: 500;
  font-size: var(--p-font-size);
}
.content {
  width: 100%;
  min-height: 400px;
  padding: 20px;
  display: flex;

  align-items: center;
  flex-direction: column;
}
.inputPhone {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.inputPhone .country {
  padding: 0 10px;
  padding: 10px;
  border-bottom: var(--p-solid-boder);
  font-size: var(--p-font-size);
}
.inputPhone input {
  flex: 1;
  outline: none;
  border: none;
  border-bottom: var(--p-solid-boder);
  padding: 10px;
  color: var(--p-solid-boder);
  font-size: var(--p-font-size);
}

input:focus {
  border-bottom: 1px solid var(--p-700);
}
.result {
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 8px;
}
.searchResult {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.searchTitle {
  width: 100%;
  font-size: var(--p-solid-boder);
  color: rgb(73, 73, 73);
}
.userItem {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 5px;
  gap: 8px;
}
.userItem img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.information {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.information .username {
  font-size: 13px;
  color: rgb(73, 73, 73);
}
.information .fullName {
  font-size: var(--p-font-size);
}
.footer {
  display: flex;
  width: 100%;
  border-top: var(--p-solid-boder);
  padding: 10px 20px;
  flex-direction: row-reverse;
  gap: 5px;
}
.footer button {
  border: none;
  padding: 10px;
  border-radius: 3px;
  transition: all 0.3s ease;
}
.footer button:hover {
  background-color: rgb(191, 191, 191);
}
.search {
  background-color: var(--p-700);
  color: var(--p-white);
}
.search:hover {
}
