.wrapper {
  display: flex;
  align-items: center;
  background-color: var(--p-white);
  padding: 10px 20px;
  gap: 5px;
}
.findFriend {
  flex: 1;
  padding: 8px 10px;
  background-color: rgb(248, 248, 248);
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
}
.findFriend:focus {
  border: 1px solid var(--p-700);
}
.add {
  padding: 10px;
  border-radius: 4px;
  color: var(--p-700);
  transition: all 0.3s ease;
}
.add:hover {
  background-color: var(--p-hover);
}
.add:focus,
.add:hover {
  background-color: var(--p-hover);
}
