/* function SideNavigation */
.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}
.avatar {
  margin-top: 30px;
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 50%;
  border: 1px solid rgb(255, 255, 255);
}
.avatar img {
  border-radius: 50%;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.menuNavItem {
  height: 100%;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.menuTop,
.menuBottom {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
