/* function SideNavigation */
.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  padding-top: 30px;
}

.menuNavItem {
  height: 100%;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.menuTop,
.menuBottom {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
