.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  width: 100%;
}
.item {
  display: flex;
  width: 100%;
  gap: 10px;
  padding: 10px;
  outline: none;
  border: none;
  background-color: var(--p-white);
  transition: all 0.3s ease;
  cursor: pointer;
}
.item:hover,
.item:focus {
  background-color: #f2f2f2;
}

.item:focus {
  background-color: var(--p-50);
}
.item img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}
.infroItem {
  flex: 1;
  gap: 4px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  
}
.infroItem p:first-child {
  font-weight: 500;
  font-size: 14px;
  color: #111;
}


.name {
  font-weight: 500;
}

.online {
  font-size: 12px;
  color: #22c55e; /* xanh */
}

.offline {
  font-size: 12px;
  color: #9ca3af; /* xám */
}
