.wrapper {
  display: flex;
  width: 100%;
  gap: 10px;
  padding: 10px;
  outline: none;
  border: none;
  background-color: var(--p-white);
  transition: all 0.3s ease;
  cursor: pointer;
}
.wrapper:hover,
.wrapper:focus {
  background-color: #f2f2f2;
}

.wrapper:focus {
  background-color: var(--p-50);
}
.infroItem {
  flex: 1;
  gap: 4px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  
}
.infroItem p:first-child {
  font-weight: 500;
  font-size: 14px;
  color: #111;
}