.wrapper {
  display: flex;
  width: 100%;
  gap: 10px;
  padding: 10px;
  outline: none;
  border: none;
  background-color: var(--p-white);
  transition: all 0.3s ease;
  cursor: pointer;
}
.wrapper:hover,
.wrapper:focus {
  background-color: #f2f2f2;
}

.wrapper:focus {
  background-color: var(--p-50);
}
.infroItem {
  flex: 1;
  gap: 4px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.topRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.topRow .name {
  color: black;
  font-size: var(--p-font-size);
}
.topRow .time {
  color: rgb(108, 108, 108);
  font-size: 12px;
}
.lastMessage {
  color: rgb(108, 108, 108);
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 230px;
}
