.wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
}
.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 10px 10px 0 10px;
}

.incoming,
.outgoing {
  flex: 1;
}
