.wrapper {
  width: 100%;
  display: flex;
  height: 100vh;
}

.sideNavigation {
  width: 65px;
  background-color: var(--p-700);
}

.conversationSidebar {
  width: 300px;
  border-right: var(--p-solid-boder);
  background-color: var(--p-white);
}

.chatMain {
  flex: 1;
  background-color: var(--p-white);
}

@media (max-width: 768px) {
  .chatMain {
    display: none;
  }

  .conversationSidebar {
    flex: 1;
    border-right:none;

  }
}
